html {
    background-color: $mainBg;
}

body {
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    color: $mainFont;
}

* {
    // font-family: $mainText;
    font-style: italic;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.orange-text {
    color: $orange
}

.yellow-text {
    color: $yellow;
}
