.content-block {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    @include mq(sm) {
        &__header {

            margin-bottom: 60px;

            h2 {
                flex: 1;
                margin-right: 10%;
                // max-width: 60%;
            }

            .link {
                max-width: 130px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }

    @include mq(lg) {
        &__header {
            .link {
                max-width: 270px;
            }
        }
    }
}

.content-block__popular {
    .cards-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

.content-block__trustpilot {
    .content-block__header {
        flex-direction: column;
        align-items: flex-start;

        .truspilot-rating {
            flex: 1;
            height: 40px;
            display: flex;
            flex-direction: column;

            &__logo {
                width: 241px;
                height: 37px;
                display: flex;
            }

            &__values {
                height: 100%;
                display: flex;
                align-items: flex-end;

                &-ratio {
                    font-size: 14px;

                    span {
                        font-size: 9px;
                        color: $greeText;
                        font-weight: 700;

                        &.ratio-big {
                            font-size: 40px;
                            line-height: 90%;
                        }
                    }
                }


            }
        }

    }

    @include mq(lg) {
        .content-block__header {
            flex-direction: row;
            h2 {
                flex: 0;
                margin-right: 40px;
            }
            .truspilot-rating {
                flex-direction: row;
            }
        }
    }

    @include mq(fhd) {
        .content-block__header {

            align-items: center;

            .truspilot-rating {
                margin-left: 43px;
                align-items: center;

                &__values {
                    border-left: 1px solid $borderColor;
                    margin-left: 30px;
                    padding-left: 40px;

                    &-ratio {
                        font-size: 16px;

                        span {
                            font-size: 12px;

                            &.ratio-big {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.content-block__process-work {
    .cards-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 65px;
        position: relative;

        .step-road {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 6%;
            height: 87%;
            justify-content: space-between;

            span {
                display: flex;
                border-radius: 3px;
                width: 15px;
                height: 15px;
                background-color: $borderColor;

                &:first-of-type,
                &:last-child {
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    background-color: $activeColor;
                }
            }

            &__line {
                display: flex;
                position: absolute;
                height: 100%;
                top: 0;
                left: 50%;
                border-left: 1px dashed $mainColorFont;
                z-index: -1;
            }
        }

        @include mq(sm) {
            padding-left: 0;

            .step-road {
                left: calc(50% - 30px);
            }
        }
        @include mq(lg) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            .card-process {
                flex: 1;
            }

            .step-road {
                position: relative;
                width: 87%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 30px;
                left: 0;

                &__line {
                    width: 100%;
                    left: 0;
                    top: -50%;
                    border-bottom: 1px dashed $mainColorFont;
                    border-left: none;
                    z-index: -1;
                }
            }
        }
    }
}

.description {
    &__content {
        position: relative;
        max-height: 200px;
        overflow: hidden;

        p {
            line-height: 150%;
            margin-bottom: 20px;
        }

        &::after {
            content: '';
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: linear-gradient(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
    }

    &[data-open="true"] {
        .description__content {
            &::after {
                display: none;
            }
        }
    }

    &__show {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        border-radius: 15px;
        background-color: $borderColor;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;

        &:hover {
            background-color: $activeColor;
            color: $borderColor;
            text-shadow: 0 0 1px $borderColor;
        }
    }

}