extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = "about-us"
    - contentTitle = "about us"

block content
    .about-us.adaptHeight
        .about-us__content.adaptHeight__content
            p Welcome to BoobBoost, a reliable World of Warcraft carry service. We’re an officially registered in Germany company with 9 years of experience on the market. We’ve successfully completed more than 80k orders at this point. Our primary aim is to connect. WoW players and time-tested skilled boosters. We offer a simple, but secure way to buy WoW carry raid runs and many other WoW boost for sale options.
            p We strive to meet each and every customer’s needs and base our work on three main principles: trust, comfort, and reasonable price. Your security is also of utmost importance to us. We accept secure Paypal online payments, use a VPN connection, and take all precautionary measures to ensure a safe carry for WoW players.
            p We are wow fans too, that’s why our key goal is to make your boosting experience smooth and enjoyable. The flexible options system allows you to customize your carry according to your needs and the intuitive website interface helps to place an order absolutely hassle-free.
            p Still, have doubts or questions? Our operators will gladly guide you your way, 24/7!
            p Welcome to BoobBoost, a reliable World of Warcraft carry service. We’re an officially registered in Germany company with 9 years of experience on the market. We’ve successfully completed more than 80k orders at this point. Our primary aim is to connect. WoW players and time-tested skilled boosters. We offer a simple, but secure way to buy WoW carry raid runs and many other WoW boost for sale options.
            p We strive to meet each and every customer’s needs and base our work on three main principles: trust, comfort, and reasonable price. Your security is also of utmost importance to us. We accept secure Paypal online payments, use a VPN connection, and take all precautionary measures to ensure a safe carry for WoW players.
            p We are wow fans too, that’s why our key goal is to make your boosting experience smooth and enjoyable. The flexible options system allows you to customize your carry according to your needs and the intuitive website interface helps to place an order absolutely hassle-free.
            p Still, have doubts or questions? Our operators will gladly guide you your way, 24/7!
            p Welcome to BoobBoost, a reliable World of Warcraft carry service. We’re an officially registered in Germany company with 9 years of experience on the market. We’ve successfully completed more than 80k orders at this point. Our primary aim is to connect. WoW players and time-tested skilled boosters. We offer a simple, but secure way to buy WoW carry raid runs and many other WoW boost for sale options.
            p We strive to meet each and every customer’s needs and base our work on three main principles: trust, comfort, and reasonable price. Your security is also of utmost importance to us. We accept secure Paypal online payments, use a VPN connection, and take all precautionary measures to ensure a safe carry for WoW players.
            p We are wow fans too, that’s why our key goal is to make your boosting experience smooth and enjoyable. The flexible options system allows you to customize your carry according to your needs and the intuitive website interface helps to place an order absolutely hassle-free.
            p Still, have doubts or questions? Our operators will gladly guide you your way, 24/7!
        a.about-us__show.adaptHeight__link(href='javascript:void(0)') show more