extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = "popular"
    - contentTitle = 'popular services'
    - linkContent = "check all categories"

block headerLink 
        +link(`${linkContent}`, '#', true)
        
block content
    +cardPopular("Leveling","Leveling")
    +cardPopular("WoWClassic","WoW Classic")
    +cardPopular("Mythic","Mythic+")
    +cardPopular("PVPArenaRating","PVP Arena Rating")
    +cardPopular("GladiatorArena","Gladiator Arena")