extends ../../layout/content-block

block variables
    - sectionClass = "sub-form"
    - contentTitle = false

block content
    .sub-form
        .sub-form__wrapp 
            h3 Sign up to our Newsletter and receive $5 coupon for first shopping
            form#subscribe-form.subscribe-form(action="/")
                input.subscribe-form__input(type="text", name="subscribe", placeholder="myemail@mail.com")
                input.subscribe-form__btn.link.link-bg(type="submit", value="subscribe")
        .sub-form__img 
            img(src="static/img/logo-icons/logo-subscribe.jpg", alt="logo-subscribe.jpg")
        .sub-form__desc World of Warcraft tm and Blizzard Entertainment are registered trademarks of Blizzard Entertainment Inc. In U.S.A. and/or other countries.These terms and all related materials, logos, and images are copyright © Blizzard Entertainment. Cakeboost is in no way associated with or endorsed by Blizzard Entertainment™. SkipGrind is not selling wow ingame items, only offers you different services to make your ingame skill better and gifting you ingame items    