extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = "upcoming-raids"
    - contentTitle = 'Upcoming Raids'
    - blockCards = false
    - linkContent = "check raids calendar"

block headerLink 
        +link(`${linkContent}`, '#', true)

block content
    include ../tabs-block