extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = "upcoming-raids"
    - contentTitle = 'Upcoming Raids'
    - blockCards = false
    - linkName = "check raids calendar";


block content
    include ../tabs-block