extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = "why-choose-us"
    - contentTitle = 'Why choose us?';

block content
    +whyChooseCard("support", "support", "Provide 24/7 support and solve any issues that may come up fast and professionaly.")
    +whyChooseCard("reviews", "reviews", "A large number of reviews on an independent site Trustpilot.")
    +whyChooseCard("vpn", "vpn", "We use VPN to to keep your account safe.")
    +whyChooseCard("safe-data", "safe data", "Your data is protected by SSL certificate.")
    +whyChooseCard("money-back", "money back guarantee", "Process full and immediate refund in case of default.")
    +whyChooseCard("profi", "profi", "A truly professional booster team, including R1 players.")