include ../../../modules/mixins

.top
    .top-bg 
        img(src="static/img/bg/top-1.jpg", alt="")
    .container.top-content
        .breadcrumbs
            a(href="#")  Home
            span Mythic Dungeons
        .top-content__desc
            h1 Mythic Dungeons