include ../../../modules/mixins

.top.top--main
    .container 
        .top__content
            .trust-support 
                a.header__trust(href="/")
                    .header__trust-stars TrustPilot
                        .header__trust-stars-logo.icons-main.icons-main__trustpilot-2
                    .header__trust-counter TrustScore  
                     span  9.8  
                     | Reviews 
                     span  484 

            h1 Secure and efficient WoW Boosting and Coaching Services
            .description Buy WoW Boosts and carries from the most customer oriented website
            +link("explore the catalog", "#")
            .event
                .event__name
                    .event__name-logo.icons-main.icons-main__horde
                    |Sanctum of Domination </br> Heroic Raid Run
                .event__timer 
                    span.hours 3h 
                    |: 
                    span.minutes 42m 
                    |: 
                    span.seconds 12s
                +link("check other raids", "#", true)