.container.header 
    .header__trust trustpilot 
    form.header__search 
        input(type="text", name="search-form", id="search-form", placeholder="I look for...")
        input(type="submit", value="search")
    .header__support 
        a.header__support-link support 24/7
        .header__support-wrapper.support 
            a.support__link(class="support__link-discord",href="#") discord 
            a.support__link(class="support__link-instagram",href="#") instagram 
            a.support__link(class="support__link-skype",href="#") skype 
    .header__lang
        a.lang__switch.lang__switch--active(href="#") Europe 
        a.lang__switch(href="#") USA 
    .header__login.login
        a.login__popUpLink(href="#")
        .login__wrapp 
            a(href="#") Sign In 
            a(href="#") Sign Up 
    a.header__cart(href="#")
        |675$