.container.header 
    a.menu-link 
        span
    a.logo(href="/")
        include ../modules/logo
    a.header__trust(href="/")
        .header__trust-stars TrustPilot
            .header__trust-stars-logo.icons-main.icons-main__trustpilot-2
        .header__trust-counter TrustScore  
         span  9.8  
         | Reviews 
         span  484 

    form.header__search 
        input(type="text", name="search-form", id="search-form", placeholder="I look for...")
        input.icons-main.icons-main__searche(type="submit", value="")
    .header__support 
        .header__support-title support 24/7
        .header__support-wrapper
            a.header__support-link.icons-main.icons-main__discord(href="#") 
            a.header__support-link.icons-main.icons-main__instagram(href="#") 
            a.header__support-link.icons-main.icons-main__skype(href="#") 
    .header__lang
        a.header__lang-switch.header__lang-switch--active(href="#") Europe 
        a.header__lang-switch(href="#") USA 
    .header__login
        .header__login-icon.icons-main.icons-main__login
        .header__login-wrapp 
            a(href="#") Sign In
            span.separator /
            a(href="#") Sign Up
    a.header__cart.link.link-bg(href="#")
        .header__cart-counter.icons-main.icons-main__cart
            span.header__cart-counterTotal 3
        .header__cart-total €675