include ../modules/mixins

.tabs-block
    +tabsLink('All', 'Heroic', 'Mythic', 'Glories', 'Mounts')        
    +tabsLink('All', 'Horde', 'Alliance')        

    .tabs-block__content.cards-wrapper
        +cardRaid("at 10:00 a.m.", "3 h : 42 m : 10 sec", "Sanctum of Domination </br> Heroic Boost run", "alliance", "€299.99", true, "10/10 bosses killed on Heroic difficulty", "All achievements for killing 10/10 bosses on Heroic difficulty", "Chance to obtain high ilvl gear", "ETA run 3-5 hours")
        +cardRaid("9 September", "10:00 a.m.", "Sylvanas Windrunner Last Boss Defeat", "horde", "€11.99", false, "Selfplayed run", "Run takes 20-30 mins", "Heroic: chance to get ilvl 246+ gear", "Chance to get Rae'shalare", "Death's Whisper if you are a hunter")
        +cardRaid("9 September", "10:00 a.m.", "Sylvanas Windrunner Last Boss Defeat", "alliance", "€11.99", false, "Selfplayed run", "Run takes 20-30 mins", "Heroic: chance to get ilvl 246+ gear", "Chance to get Rae'shalare", "Death's Whisper if you are a hunter")
        +cardRaid("9 September", "10:00 a.m.", "Sylvanas Windrunner Last Boss Defeat", "horde", "€11.99", false, "Selfplayed run", "Run takes 20-30 mins", "Heroic: chance to get ilvl 246+ gear", "Chance to get Rae'shalare", "Death's Whisper if you are a hunter")