#infoPopUp.infoPopUp
    .infoPopUp__backing 
    .infoPopUp__block
        .infoPopUp__title 
            span.title.lng-popUpTitle congratulations,
            span.lng-popUpTitle2 you win:
        .infoPopUp__content 
        a.infoPopUp__btn.lng-popUpBtn.btn get bonus