.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -.75%;
    margin-right: -.75%;
    min-width: 100%;

    .card {
        &-product {
            width: 98.5%;
            margin-left: .75%;
            margin-right: .75%;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 15px;
            border: 1px solid $borderColor;

            &__image {
                border-radius: 15px;
                width: 100%;
                margin-bottom: 24px;
            }

            &__title {
                margin-left: 2%;
                margin-right: 2%;
                flex: 1 0 auto;
                font-size: 14px;
                font-weight: 600;
                line-height: 150%;
            }

            &__price-block {
                margin: 24px 4%;
                font-size: 21px;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                span {
                    font-size: 21px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    padding-left: 2%;
                    padding-right: 2%;

                    &.price-old {
                        font-size: 14px;
                        margin-left: 15px;
                        text-decoration: line-through;
                    }
                }
            }

            &__more {
                width: calc(100% + 2px);
                max-width: none;
                margin-left: -1px;
                margin-bottom: -1px;
                margin-right: -1px;
            }

            @include mq(sm) {
                width: 46.5%;
            }

            @include mq(lg) {
                width: 31.5%;
                &__title {
                    font-size: 16px;
                }
                &__title {
                    font-size: 16px;
                }
                &__price-block {
                    font-size: 24px;

                    span {
                        font-size: 24px;
                    }

                    &.price-old {
                        font-size: 16px;
                    }
                }
            }

            @include mq(hd) {
                width: 23.5%;

            }
        }

        &-raid {
            width: 98.5%;
            margin: 0 .75% 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $borderColor;
            border-radius: 15px;

            &__head {
                background-color: $activeBg;
                border-radius: 15px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 10px;
                padding-left: 10px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-end;

                &-desc {
                    font-size: 12px;
                }

                &-date {
                    font-size: 12px;
                    line-height: 100%;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                &-time {
                    width: 100%;
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 150%;
                }
            }

            &--active {
                .card-raid__head {
                    background-color: $bgRed;
                }
            }

            &__body {
                padding: 16px 26px;
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;

                &-title {
                    line-height: 140%;
                    margin-bottom: 22px;
                    flex: 1 0 auto;
                    font-weight: 300;
                }

                &-desc {
                    flex: 1;

                    li {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 160%;
                        list-style: disc;
                        list-style-position: inside;
                    }

                    &--wrapp {
                        display: flex;
                        margin-bottom: 22px;
                        flex: 1 0 auto;
                    }
                }

                &-logo {
                    display: flex;
                    width: 46px;
                    height: 70px;
                    margin-left: 40px;
                }

                &-price {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            &__link {
                width: calc(100% + 2px);
                max-width: none;
                margin-left: -1px;
                margin-right: -1px;
                margin-bottom: -1px;
            }

            @include mq(sm) {
                width: 46.5%;

                &--active {
                    width: 98.5%;
                }

                &__head {
                    padding-left: 16px;
                    padding-right: 16px;

                    &-time {
                        font-size: 32px;
                    }
                }
            }

            @include mq(lg) {
                width: 31.5%;
            }

            @include mq(hd) {
                width: 23.5%;

                &__head {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &__body {
                    &-desc {
                        &--wrapp {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            @include mq(fhd) {
                width: 23.5%;

                &__head {
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }

        &-advantages {
            width: 98.5%;
            margin-left: 0.75%;
            margin-right: 0.75%;
            margin-bottom: 20px;
            display: flex;

            &:last-of-type {
                margin-bottom: 0;
            }

            &__icon {
                display: flex;
                width: 52px;
                height: 52px;
                margin-right: 15px;
            }

            &__content {
                flex: 1;
                padding-right: 20%;

                &-title {
                    font-size: 9px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 8px;
                    letter-spacing: 0.12em;
                }

                &-desc {
                    font-size: 9px;
                    line-height: 140%;
                }
            }

            @include mq(lg) {
                width: 48.5%;

                &__icon {
                    width: 106px;
                    height: 106px;
                    margin-right: 20px;
                }

                &__content {
                    &-title {
                        font-size: 16px;
                    }

                    &-desc {
                        font-size: 16px;
                    }
                }
            }

            @include mq(fhd) {
                width: 30%;
                margin-bottom: 60px;

                &__icon {
                    width: 106px;
                    height: 106px;
                }

                &__content {
                    padding-right: 10%;

                    &-title {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        &-popular {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4%;
            width: 48%;
            border-radius: 15px;
            background-color: $activeBg;
            padding: 28px 2% 37px;

            &:last-of-type {
                margin-bottom: 50px;
                padding-bottom: 56px;
            }

            &__title {
                text-transform: uppercase;
                @include adaptiv-font(25, 14);
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                text-align: center;
                margin-bottom: 20px;
            }

            &__logo {
                display: flex;
                width: 62px;
                height: 62px;

                &.icons-game__Mythic {
                    width: 50px;
                }
            }

            @include mq(lg) {
                width: 17%;
                margin-left: 0.75%;
                margin-right: 0.75%;

                &__title {
                    font-size: 25px;
                }

                &__logo {
                    width: 141px;
                    height: 141px;

                    &.icons-game__Mythic {
                        width: 126px;
                    }
                }

                &:last-of-type {
                    margin-bottom: 4%;
                    padding-bottom: 37px;
                }
            }
        }

        &-trustpilot {
            background-color: $activeBg;
            border-radius: 15px;
            padding: 15px;
            min-height: 260px;

            &__header {
                display: flex;
                align-items: center;
                margin-bottom: 24px;

                &-icon {
                    display: flex;
                    width: 28px;
                    height: 28px;
                    border-radius: 5px;
                    overflow: hidden;

                    img {
                        height: 100%;
                    }
                }

                &-desc {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                &-data,
                &-name {
                    font-size: 9px;
                }

                &-logo {
                    display: flex;
                    width: 69px;
                    height: 11px;
                }
            }

            &__body {
                max-height: 171px;
                overflow: auto;
            }
            @include mq(lg) {
                min-height: 205px;
                &__header {
                    &-icon {
                        width: 42px;
                        height: 42px;
                    }
                    &-data,
                    &-name {
                        font-size: 14px;
                    }
                    &-logo {
                        width: 104px;
                        height: 18px;
                    }
                }
            }
            @include mq(fhd) {
                min-height: 230px;

                &__header {
                    &-icon {
                        width: 48px;
                        height: 48px;
                        border-radius: 10px;
                    }

                    &-data,
                    &-name {
                        font-size: 16px;
                    }

                    &-logo {
                        width: 116px;
                        height: 20px;
                    }
                }

                &__body {
                    max-height: 106px;
                }
            }
        }

        &-news {
            background-color: $activeBg;
            border-radius: 7px;

            &__header {
                width: 100%;
                border-radius: 7px;
                overflow: hidden;
                margin-bottom: 14px;

                img {
                    width: 100%;
                }
            }

            &__body {
                padding-left: 14px;
                padding-right: 14px;
                padding-bottom: 14px;
                display: flex;
                flex-direction: column;

                &-date {
                    opacity: 0.5;
                    margin-bottom: 14px;
                    font-size: 8px;
                }

                &-title {
                    font-size: 12px;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                }

                &-content {
                    color: $mainColorFont2;
                    font-size: 14px;
                }
            }
            @include mq(lg) {
                border-radius: 15px;

                &__header {
                    border-radius: 15px;
                    margin-bottom: 18px;
                }
                &__body {
                    padding-left: 33px;
                    padding-right: 33px;
                    padding-bottom: 33px;

                    &-date {
                        font-size: 16px;
                    }

                    &-title {
                        font-size: 25px;
                    }

                    &-content {
                        font-size: 16px;
                    }
                }
            }
        }

        &-faq {
            display: flex;
            background-color: $activeBg;
            padding-top: 36px;
            padding-bottom: 30px;
            padding-left: 7px;
            padding-right: 7px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;

            &__title {
                font-size: 18px;
                font-weight: 700;
                line-height: 150%;
                padding-right: 7%;
                position: relative;
                text-transform: uppercase;
                letter-spacing: .12em;
                margin-bottom: 20px;

                &::before {
                    content: '';
                    display: flex;
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    position: absolute;
                    right: 0;
                    top: calc(50% - 10px);
                    cursor: pointer;
                }
            }

            &__content {
                padding-right: 10%;
                line-height: 140%;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.9s;
            }

            @include mq(fhd) {
                padding: 38px;

                &__title {
                    font-size: 25px;
                    padding-right: 10%;
                }
            }
        }

        &-process {
            display: flex;
            padding-right: 15px;
            margin-bottom: 60px;

            &__index {
                font-size: 80px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 120%;
                margin-right: 20px;
            }

            &__content {
                &-title {
                    text-transform: uppercase;
                    line-height: 140%;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                &-desc {
                    font-size: 12px;
                    line-height: 160%;
                }
            }

            @include mq(sm) {
                &:nth-child(odd) {
                    margin-right: 55%;
                }

                &:nth-child(even) {
                    margin-left: 55%;
                }
            }
            @include mq(lg) {
                margin-bottom: 0;
                &:nth-child(odd) {
                    margin-right: 15%;
                    order: 0;
                }

                &:nth-child(even) {
                    margin-left: 15%;
                    order: 1;
                }
            }
            @include mq(fhd) {
                &:nth-child(odd) {
                    margin-right: 1%;
                }

                &:nth-child(even) {
                    margin-left: 1%;
                    order: 0;
                }
            }
        }
    }
}