input,
textarea {
    background-color: $activeBg;
    border-radius: 15px;
    padding: 13px 16px;
    line-height: 140%;

    &::placeholder {
        opacity: 0.5;
    }

    .indivadual {
        border: 1px solid $borderColor;
    }
}

.sub-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    &__wrapp {
        max-width: 100%;

        h3 {
            text-transform: uppercase;
            font-size: 25px;
            line-height: 130%;
            margin-bottom: 50px;
            font-weight: 600;
        }

        .subscribe-form {
            display: flex;
            width: 100%;
            background-color: $activeBg;
            border-radius: 15px;

            &__input {
                flex: 1;
                padding: 13px 5px;
            }

            &__btn {
                padding-top: 18px;
                padding-bottom: 18px;
                padding-left: 9px;
                padding-right: 9px;
            }
        }
    }

    &__img {
        display: none;
        width: 30%;
        max-width: 560px;
        border-radius: 15px;
        overflow: hidden;
    }

    &__desc {
        margin-top: 120px;
        font-size: 12px;
        line-height: 140%;
    }

    @include mq(lg) {
        &__wrapp {
            flex: 1;
            padding-right: 9%;

            h3 {
                font-size: 30px;
                letter-spacing: .12em;
                margin-bottom: 60px;
            }
            .subscribe-form {
                &__input {
                    padding: 13px 16px;
                }
                &__btn {
                    width: auto;
                    padding-left: 63px;
                    padding-right: 63px;
                }
            }
        }
        &__img {
            display: flex;
        }
    }
}

.login__forms {
    width: 100%;
    form {
        .label-block {
            margin-bottom: 40px;
        }
        .separator {
            width: 100%;
            border-bottom: 1px solid $borderColor;
            margin-bottom: 40px;
        }
        .rememb {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            label {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                input {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    &:checked+span {
                        &::before,
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                span {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: 1px solid $mainColorFont;
                    cursor: pointer;
                    &:hover {
                        border-color: $activeColor;
                    }
                    &::before,
                    &::after {
                        content: '';
                        display: flex;
                        height: 3px;
                        border-radius: 50px;
                        background-color: $activeColor;
                        position: absolute;
                        opacity: 0;
                    }
                    &::before {
                        width: 5px;
                        transform: rotate(45deg);
                        left: 15%;
                        top: 47%;
                    }
                    &::after {
                        width: 10px;
                        transform: rotate(-45deg);
                        left: 22%;
                        top: 40%;
                    }
                }
            }
        }
        .reg-network {
            margin-bottom: 40px;
            .title {
                text-transform: uppercase;
                @include adaptiv-font(30, 16);
                font-weight: 700;
                text-align: center;
                margin-bottom: 40px;
            }
            &__links {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    display: flex;
                    width: 70px;
                    height: 70px;
                    margin-left: 2%;
                    margin-right: 2%;
                    &::before {
                        content: '';
                        display: flex;
                        width: 70px;
                        height: 70px;
                        opacity: 0;
                    }
                    &:hover {
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .submit {
            margin-bottom: 40px;
        }
        .desc {
            text-align: center;
        }
    }
}