.tabs-block {
    display: flex;
    flex-wrap: wrap;

    &__nav {
        display: flex;
        margin-bottom: 20px;
        background-color: $activeBg;
        border-radius: 15px;

        &:last-of-type {
            margin-bottom: 60px;
        }

        @include mq(fhd) {
            margin-right: 50px;
            margin-bottom: 60px;
        }

        li {
            a {
                font-size: 9px;
                display: flex;
                padding: 8px 13px;
                font-weight: 600;
                border-radius: 15px;

                &.active-tab {
                    background-color: $bgRed;
                    padding-left: 21px;
                    padding-right: 21px;
                    pointer-events: none;
                }

                &:hover {
                    background-color: $bgRed;
                }

                @include mq(fhd) {
                    font-size: 14px;
                    padding: 13px 21px;

                    &.active-tab {
                        padding-left: 33px;
                        padding-right: 33px;
                    }
                }
            }
        }
    }
}