.tabs-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__nav {
        display: flex;
        margin-bottom: 20px;
        background-color: $activeBg;
        border-radius: 15px;

        &:last-of-type {
            margin-bottom: 60px;
        }

        @include mq(fhd) {
            margin-right: 50px;
            margin-bottom: 60px;
        }

        li {
            a {
                @include adaptiv-font(9, 14);
                display: flex;
                padding: 8px 13px;
                font-weight: 600;
                border-radius: 15px;

                &.active-tab {
                    background-color: $bgRed;
                    padding-left: 21px;
                    padding-right: 21px;
                    pointer-events: none;
                }

                &:hover {
                    background-color: $bgRed;
                }


            }
        }
    }

    @include mq(sm) {
        &__nav {
            li {
                a {
                    padding: 13px 21px;

                    &.active-tab {
                        padding-left: 33px;
                        padding-right: 33px;
                    }
                }
            }
        }
    }
}