extends layout/base

block variables
    - var pageTitle = 'INDEX boom-boost'
    - var page = "main";

block content
    div(class=`page-${page}`)
        include sections/content/tops/main
        include sections/content/hot-sellers
        include sections/content/upcoming-raids
        include sections/content/advantages
        include sections/content/popular
        include sections/content/truspilot
        include sections/content/news&guides
        include sections/content/faq
        include sections/content/process-work
        include sections/content/abotus
        include modules/forms/subscribe-form
        include sections/privacy