extends layout/base

block variables
    - var pageTitle = 'INDEX boom-boost'
    - var page = "main";

block content
    include sections/content/tops/main
    include sections/content/hot-sellers
    include sections/content/upcoming-raids