extends layout/base

block variables
    - var pageTitle = 'INDEX boom-boost'
    - var page = "main";

block content
    include sections/content/abotus
    include sections/content/truspilot
    include sections/content/hot-sellers
    include sections/content/process-work
    include sections/content/faq
    include sections/content/subscribe-form