extends ../../layout/content-block
include ../../modules/mixins

block variables
    - sectionClass = 'category'
    - blockCards = true

block content
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    +cardProduct("static/img/cards/Frame_2.jpg", "Play With PRO 3v3","","$34.99","$356.00")
    a.description__show(href='javascript:void(0)') show more