.container {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
    @include mq(fhd) {
        padding-left: 68px;
        padding-right: 68px;
    }
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;

    .sidebar-block {        
        min-width: 256px;
        display: flex;
    }

    .content-block {
        flex: 1 auto;

        &__trustpilot,
        &__newsGuides,
        &__faq,
        &__process-work,
        &__about-us,
        &__sub-form {
            .cards-wrapper {
                margin-left: 0;
                margin-right: 0;
            }
        }

        section {
            margin-bottom: 70px;

            @include mq(fhd) {
                margin-bottom: 100px;
            }
        }
    }
    @include mq(sm) {
        padding-left: 256px;
        .content-block {
            max-width: 100%;
        }
    }
}