.main-container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    .sidebar-block {
        width: 256px;
        position: relative;
        .main-menu {
            position: fixed;
            top: 0;
            width: 256px;
        }
    }
}
