

section.content
        .left-text.lng-spin spin the wheel
        .separator
        .right-text.orange-text 
            span.margin-text.lng-getBonus - get your bonuses 
            span.margin-textOff.lng-getBonus2 right now!

