block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static/css/main.css?v=1.0.1")
        title= pageTitle
    body
        .main-container
            include ../sections/sidebar-menu

            .content-block
                include ../sections/header-mobile
                include ../sections/header
                block content
                include base-footer
        //- include ../modules/popUps/loginPopUp        
        script(defer src="static/js/main.js?v=1.0.2")
