block variables
    - var sectionClass
    - var contentTitle
    - var blockCards = false
    - var linkContent = false
    - var trustContent = false
    - var trustHeader = false

section.container(class=`content-block__${sectionClass}`)
    .content-block__header
        if contentTitle
            h2.content-block__title=contentTitle
        if linkContent
            block headerLink
            
        if trustHeader
            block trustHeader

    .content-block__body(class=`${blockCards === true ? "cards-wrapper" : ""}`)
        block content 