block variables

section.content-block
    .content-block__header
        h2.content-block__title=contentTitle
        a.transparent-link.content-block__show-more=linkName
    
    .content-block__body
        block content 